*{
    margin:0;
    padding:0;
}

html{
    scroll-behavior: smooth;
}

@font-face{
    font-family: 'Baron Neue';
    src: url('./fonts/Baron\ Neue\ Bold.ttf');
}

body{
    background:linear-gradient(
        to right,
        #101011 0%,
        #101011 50%,
        #151617 50%,
        #151617 100%
    );
}

/* ---------- loader ------------*/
.loader{
    position: fixed;
    top: 0;
    left: 0;
    background: black;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.disappear{
    animation: vanish 1s forwards;
}

@keyframes vanish {
    100%{
        opacity: 0;
        visibility: hidden;
    }
}


.main-container{
    height: 90vh;
    width: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;
}

/* -------------- loader end ----------- */

@import './nav', './home', './about';